.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #05161A;
  font-family: barlow, arial, sans-serif;
  font-weight: 400;
}

.pageContainer {
  align-items: center;
  padding: 200px;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  list-style: none;
}

span {
  font-size: x-small;
}

/* botones, forms e inputs */
label {
  display: block;
  margin: 10px;
  color: #6BA2A9;
}

input,
select {
  width: 100%;
  height: 100%;
  background: #072E33;
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffff;
  padding: 10px 15px 10px 10px;
}


button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.checkbox {
  position: relative;
  font-size: 20px;
}